<div class="flex gap-4">
  <div>
    <h2>Starting Items</h2>
    <ul pDroppable (onDrop)="drop(true)">
      <li
        *ngFor="let item of availableItems"
        pDraggable
        (onDragStart)="dragStart(item)"
        (onDragEnd)="dragEnd()"
      >
        {{ item.name }}<span *ngIf="item.amount"> ({{ item.amount }})</span>
      </li>
    </ul>
  </div>
  <div pDroppable (onDrop)="drop()" [pDroppableDisabled]="itemsDisabled">
    <h2>Practice Inventory</h2>
    <ul *ngIf="selectedItems.length">
      <li
        *ngFor="let item of selectedItems"
        pDraggable
        (onDragStart)="dragStart(item)"
        (onDragEnd)="dragEnd()"
        class="flex gap-2 items-center"
      >
        <span>{{ item.name }}</span>
        <span *ngIf="item.amount"> ({{ item.amount }})</span>
        <p-dropdown
          [options]="dropdownOptions"
          [(ngModel)]="item.location"
          (onChange)="onLocationChange(item, $event.value)"
          placeholder="Select location"
        ></p-dropdown>
      </li>
    </ul>
  </div>
  <!-- Display error messages if any -->
  <div *ngIf="errorMessages.length > 0" class="text-red-500">
    <ul>
      <li *ngFor="let error of errorMessages">{{ error }}</li>
    </ul>
  </div>
</div>
