<div class="flex gap-4">
  <p-button [label]="'Roll ' + label" (onClick)="onRollClick()" />
  <p-inputNumber
    [(ngModel)]="value"
    (ngModelChange)="onValueChange($event)"
    min="1"
    max="6"
    buttonLayout="horizontal"
    inputId="horizontal"
    spinnerMode="horizontal"
    decrementButtonClass="p-button-danger"
    incrementButtonClass="p-button-success"
    incrementButtonIcon="pi pi-plus"
    decrementButtonIcon="pi pi-minus"
    [showButtons]="true"
  />
  <p>{{ modifier !== undefined ? "+" + modifier : "" }}</p>
</div>
