<section>
  <h1>Create a New Character</h1>
  <p-stepper orientation="vertical">
    <ng-container *ngFor="let panel of stepperPanels; let i = index">
      <p-stepperPanel [header]="panel.header">
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <div class="flex flex-column h-12rem">
            <div
              class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium rounded-md"
            >
              {{ panel.instruction }}
            </div>
            <ng-container *ngComponentOutlet="panel.component"></ng-container>
          </div>
          <div class="flex py-4">
            <p-button label="Next" (onClick)="nextCallback.emit()" /></div
        ></ng-template> </p-stepperPanel
    ></ng-container>
  </p-stepper>
</section>
