<section>
  <h1>Create a New Character</h1>
  <p-stepper orientation="vertical">
    <ng-container *ngFor="let panel of stepperPanels; let i = index">
      <p-stepperPanel [header]="panel.header">
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-prevCallback="prevCallback"
          let-index="index"
        >
          <div class="flex flex-col h-12rem">
            <div
              class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium rounded-md"
            >
              {{ panel.instruction }}
            </div>
            <ng-container *ngIf="panel.name === 'abilities'">
              <app-character-form-abilities
                (abilitiesChanged)="onAbilitiesChanged($event)"
                (abilityChanged)="onAbilityChanged($event)"
              />
            </ng-container>
            <ng-container *ngIf="panel.name === 'health'">
              <app-character-form-health
                (healthChanged)="onHealthChanged($event)"
              />
            </ng-container>
            <ng-container *ngIf="panel.name === 'feature'">
              <app-character-form-feature />
            </ng-container>
            <!-- Add more conditions for other panels -->
          </div>
          <div class="flex py-4 gap-2">
            <p-button
              *ngIf="i > 0"
              label="Back"
              severity="secondary"
              (onClick)="prevCallback.emit()"
            ></p-button>
            <p-button
              *ngIf="i < stepperPanels.length - 1"
              label="Next"
              (onClick)="nextCallback.emit()"
            ></p-button>
          </div>
        </ng-template>
      </p-stepperPanel>
    </ng-container>
  </p-stepper>
</section>
